{% extends "base.html" %}

{% block content %}
  <h1>{{person.username}}님의 프로필</h1>
  <hr>
  <div>
    {% comment %} 참조 / 역참조 {% endcomment %}
    {% comment %} 새로고침 없이 숫자만 바뀌게 하려면 무슨태그?? ---> span태그 {% endcomment %}
    팔로잉 : <span id="followings-count">{{person.followings.all|length}}</span> / 
    팔로워 : <span id="followers-count">{{person.followers.all|length}}</span> 
  </div>

  {% if request.user != person %}
    <div>
      <form id="follow-form" data-user-id="{{person.pk}}">
        {% csrf_token %}
        {% comment %} 팔로우 하고있으면 - 언팔로우 / 팔로우 하고있지 않으면 - 팔로우 {% endcomment %}
        {% if request.user in person.followers.all %}
          <input type="submit" value="언팔로우" id="follow-input">
        {% else %}
          <input type="submit" value="팔로우" id="follow-input">
        {% endif %}
      </form>
    </div>
  {% endif %}


  <hr>

  <h2>{{person.username}}가 작성한 게시글</h2>
  {% comment %} person.article_set.all : 역참조 {% endcomment %}
  {% for article in  person.article_set.all %}
    <div>{{article.title}}</div>
  {% endfor %}

  <hr>

  <h2>{{person.username}}가 작성한 댓글</h2>
  {% for comment in  person.comment_set.all %}
    <div>{{comment.content}}</div>
  {% endfor %}

  <hr>

  <h2>{{person.username}}이 좋아요한 게시글</h2>
  {% for article in  person.like_articles.all%}
    <div>{{article.title}}</div>
  {% endfor %}


  <hr>
  <a href="{% url "articles:index" %}"> Home </a>
  <hr>
  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 1. querySelector
    const formTag = document.querySelector('#follow-form')

    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // 2. 콜백함수

    const handleFollow = async function(event) {
      event.preventDefault()
      const userId = event.currentTarget.dataset.userId

      try {
        const response = await axios ({
          method : 'post',
          url : `/accounts/${userId}/follow/`,
          headers: {'X-CSRFToken': csrftoken},
        })
        // console.log(response)
        const isFollowed = response.data.is_followed
        const followBtn = document.querySelector('#follow-input')

        if (isFollowed === true) {
          followBtn.value = '언팔로우'
        } else {
          followBtn.value = '팔로우'
        }

        const followingsCountTag = document.querySelector('#followings-count')
        const followersCountTag = document.querySelector('#followers-count')

        followingsCountTag.textContent = response.data.followings_count
        followersCountTag.textContent = response.data.followers_count
      }
      catch(error) {
        console.log(error)
      }

    }

    // 3. 이벤트리스너
    formTag.addEventListener('submit', handleFollow)

  </script>


{% endblock content %}